body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* полупрозрачный черный фон */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo img {
    height: 50px; /* высота логотипа, можно изменить */
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-icons img {
    height: 30px; /* высота иконки Телеграмма */
    margin-right: 20px;
}

.reserve-btn {
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.reserve-btn:hover {
    background-color: white;
    color: black;
}
